{% extends 'basic.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Add Task</h4>
            <form method="POST" class="shadow text-white mb-3 ">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class=form-control name="task" placeholder="task">
                </div>
                <div class="form-group">
                    <input type="number" class=form-control name="priority" placeholder="priority of task">
                </div>
                <div class="form-group">
                    <input type="date" class=form-control name="date" placeholder="Date">
                </div>
                    <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-6">
            <h4>Task to be Completed</h4>
            {% for i in task_result %}
            <div class="shadow card text-white bg-info mb-3">
                <div class="card-body">
                    <h3 class="card-title">{{i.name}}</h3>
                    <p>{{i.priority}}</p>
                    <p>{{i.date}}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}